METADATA_DB_PASSWORD=dpc0mpose
REDIS_PASSWORD=dpc0mpose
JWT_SECRET=cSZIW7DsvYRYUZWghr3t1mG2qGfGOMBRBcqNMiWSpX8=
ENCRYPTION_KEY=0mzTN2khjqIJ/vBX59Y79xmOrNNrceuNkMo0H5xE+yQ=
GOOGLE_CLIENT_ID=test-client
GOOGLE_CLIENT_SECRET=test-secret
MICROSOFT_CLIENT_ID=test-ms-client
MICROSOFT_CLIENT_SECRET=test-ms-secret
DATAPIPELINES_AUTH_BASE_URL=http://localhost:8080
MICROSOFT_TENANT_ID=common
